.communication__item {
  margin-right: 30px;
}

.communication__link--mail svg {
  fill: #161c35;
  background-color: #ffbd30;
}

.communication__link--call svg {
  fill: #161c35;
  background-color: #ffbd30;
}
