.contact__link {
  font-weight: bold;
  color: #192144;
  text-decoration: none;
}

.contact__link svg {
  margin-right: 29px;
  fill: #ffd74b;
  background-color: #121936;
}

@media (min-width: $tablet-width) {
  .contact__link {
    margin-bottom: 45px;
  }
}
