.contact {
  list-style: none;
  font-weight: 700;
}

.contact__item {
  margin-bottom: 23px;
  padding-left: 25px;
}

.contact__item:nth-child(1) {
  padding-right: 115px;
}

.contact__item:nth-child(2) {
  padding-right: 57px;
}

.contact__link {
  position: relative;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 13px;
  text-decoration: none;
  color: #192144;
}

.contact__link::before {
  content: "";

  position: absolute;
  top: 3px;
  left: -1px;

  width: 45px;
  height: 45px;
  border-radius: 50%;

  background-color: #121936;
}

.contact__link svg {
  position: relative;
  padding-right: 24px;
  margin-bottom: -4px;

  fill: #ffd74b;
}

@media (min-width: $tablet-width) {
  .contact {
    font-size: 28px;
    line-height: 28px;
  }

  .contact__link {
    padding-left: 21px;
    padding-top: 24px;
    padding-bottom: 13px;
  }

  .contact__item {
    padding-left: 0;
    margin-bottom: 38px;
  }

  .contact__link::before {
    top: 5px;
    left: 1px;

    width: 67px;
    height: 67px;
  }

  .contact__link svg {
    width: 27px;
    height: 27px;
    padding-right: 35px;
  }
}

@media (min-width: $desktop-width) {
  .contact__link::before {
    top: -10px;
    left: -30px;
    width: 90px;
    height: 90px;
  }

  .contact__link--call::after {
    top: 20px;
    left: -3px;

    width: 36px;
    height: 36px;
  }

  .contact__link--mail::after {
    top: 24px;
    left: -3px;

    width: 36px;
    height: 26px;
  }
}
