.country__wrapper {
  background-color: #ffffff;
}

.country__name a {
  text-decoration: none;

  color: #161c35;
}

.country__text {
  color: #c7c7c7;
}

.country__companion-counter {
  color: #c7c7c7;
}
