.country__wrapper {
  position: relative;
  height: 90px;
  width: 270px;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 10;
  margin-bottom: 10px;
}

.country__item:nth-child(3) {
  margin-bottom: 25px;
}

.country__item img {
  position: relative;
  margin-bottom: -30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1;
}

.country__name {
  margin: 0;

  & a {
    text-decoration: none;

    color: #161c35;
  }
}

.country__text {
  margin: 0;
  color: #c7c7c7;
}

.country__companion-counter {
  margin: 0;
  color: #c7c7c7;
}

.country__flag {
  margin: 0;
}
