.destinations {
  height: 888px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 132px;
  padding-bottom: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #edeff6;
}

.destinations__title {
  padding-left: 25px;
}

.destinations__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 66px;
  padding-right: 53px;
  padding-left: 25px;

  color: #4f4f50;
}

.destinations__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
