.filter-form {
  width: 270px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  padding-bottom: 22px;
  border-radius: 20px;
  text-transform: uppercase;

  color: #1d2e5b;
  background-color: #ffd74b;
}

.filter-form h2 {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 26px;
  font-size: 22.5px;
  line-height: 22.5px;
  font-weight: 700;
  margin-bottom: 35px;
  text-transform: none;

  color: #1d2e5b;
}

.filter-form p {
  margin: 0;
  margin-bottom: 25px;
}

.filter-form__hobby-list,
.filter-form__music,
.filter-form__food-list,
.filter-form__transport-list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
}

.filter-form__toggle {
  position: absolute;

  display: block;
  top: 3px;
  right: 25px;

  background-color: transparent;

  cursor: pointer;
  border: none;
}

.filter-form__toggle::before {
  content: "";

  position: absolute;
  top: 6px;
  right: 0;

  border-width: 4px;
  border-style: solid;
  border-color: #192144 transparent transparent transparent;
}

.filter-form__music--closed .filter-form__music-list {
  display: none;
}

.filter-form__music--opened .filter-form__music-list {
  display: block;
}

.filter-form__transport-list--closed .filter-form__way-of-travelling {
  display: none;
}

.filter-form__transport-list--opened .filter-form__way-of-travelling {
  display: flex;
}

.filter-form__music {
  border: none;
  margin: 0;
  padding-left: 25px;
}

.filter-form__music legend {
  padding: 0;
  margin-bottom: 15px;
}

.filter-form__music .filter-form__toggle::before {
  top: 5px;
}

.filter-form__music-list {
  padding: 0;
  margin: 0;
}

.filter-form__way-of-travelling {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

.filter-form__transport-list p {
  margin-right: auto;
  flex-grow: 1;
}

.filter-form__way-of-travelling li {
  position: relative;
}

.filter-form__way-of-travelling li::before {
  content: "";
  position: absolute;

  top: -5px;
  left: -6px;

  width: 33px;
  height: 33px;
  border-radius: 50%;

  background-color: #ffffff;
}

.filter-form__submit-button {
  display: block;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  width: 230px;
  padding-top: 7px;
  padding-bottom: 3px;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  text-align: center;
  text-transform: uppercase;

  color: #161c35;
  background-color: #ffffff;
}
