.interested {
  position: relative;
  margin-top: -54px;
  padding-top: 126px;
  padding-bottom: 17px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 3;

  background-color: #192144;
}

.interested__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.interested__text {
  margin-top: 0;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 29px;
  text-align: center;
  white-space: pre-line;

  color: #ffffff;
}

.interested__text a {
  color: #ffd74b;
}

.interested__form {
  position: relative;
}

.interested input {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding-left: 24px;
  margin-bottom: 29px;
  border: 1px;
  border-radius: 10px;
}

.interested__button {
  position: absolute;

  top: -1px;
  right: -1px;

  width: 60px;
  height: 62px;
  border-radius: 10px;

  background-color: #ffd74b;
}

.interested__registration {
  display: none;
}

.interested__form::before {
  content: "";

  position: absolute;

  top: 23px;
  right: 17px;

  z-index: 5;

  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #1d2e5b;
}

.interested__contact-text {
  font-weight: 300;
  margin: 0;
  margin-bottom: 30px;
  white-space: pre-line;
  text-align: center;

  color: #ffffff;
}

.interested__contact {
  padding: 0;
  margin: 0;
}

.interested__contact a {
  text-align: center;
  text-transform: uppercase;
  color: #ffd74b;
}

.interested__contact li {
  padding-left: 0;
}

.interested__contact li:nth-child(1) {
  padding-right: 80px;
}

.interested__contact li:nth-child(2) {
  padding-right: 30px;
}

@media (min-width: $tablet-width) {
  .interested {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 129px;
    padding-bottom: 39px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .interested__title {
    margin-bottom: 55px;
  }

  .interested__text {
    font-size: 28px;
    line-height: 33px;
    padding-left: 30px;
    padding-right: 27px;
    white-space: normal;
    margin-bottom: 65px;
  }

  .interested input {
    height: 81px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 24px;
    padding-left: 34px;
    margin-bottom: 59px;
  }

  .interested__button {
    top: 0;
    width: 82px;
    height: 81px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .interested__form::before {
    right: 29px;
    top: 32px;
  }

  .interested__contact-text {
    font-size: 28px;
    line-height: 33px;
    white-space: normal;
    margin-bottom: 62px;
  }
}

@media (min-width: $desktop-width) {
  .interested {
    padding-left: 132px;
    padding-right: 132px;
    padding-top: 161px;
    padding-bottom: 95px;
  }

  .interested__title {
    margin-bottom: 56px;
  }

  .interested__text {
    padding-left: 250px;
    padding-right: 250px;
    margin-bottom: 59px;
  }

  .interested__button {
    width: 328px;
    padding-left: 34px;
  }

  .interested__registration {
    display: block;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-align: left;
  }

  .interested input {
    margin-bottom: 64px;
  }

  .interested__contact-text {
    padding-left: 3px;
    margin-bottom: 71px;
  }

  .interested__text-part {
    font-size: 29.5px;
    line-height: 40.5px;
  }

  .interested__contact {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 182px;
    padding-right: 126px;
  }
}
