.menu {
  padding-top: 24px;
  height: 381px;
  background-color: $background-mobile;
  background-image: url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right 50px, center;
}

.menu__title {
  margin: 0 auto;
  width: 270px;

  margin-bottom: 235px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;

  color: #ffffff;
}

.menu__communication {
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu__user-list {
  margin: 0;
  width: 189px;
  list-style: none;
}

.menu__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .menu {
    height: 862px;
    background-color: $background-tablet;
    background-image: url("../img/traveller-illustration-tablet@1x.png"),
      url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 125px right 110px, center 280px;
  }

  .menu__wrapper {
    display: none;
  }

  .menu__title {
    width: 446px;
    font-size: 60px;
    line-height: 70px;
  }

  .menu__user-list {
    display: none;
  }
}
