.music-list {
  font-size: 15px;
  line-height: 15px;
  padding-left: 22px;
  font-weight: 400;
  text-transform: none;
  list-style: none;
}

.music-list__item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 5px;
}

.music-list__input-ckeckbox:not(:checked) + label::before {
    content:"";

    position: absolute;
    left:-22px;
    top:-2px;
    width: 18px;
    height: 18px;

    background-color: #ffffff;
    cursor:pointer;
}

.music-list__input-ckeckbox:checked + label::after{
  content:"";

  position: absolute;
  left:-22px;
  top:-2px;
  width: 18px;
  height: 18px;

  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-size: 9px 9px;
  background-position: center center;
  background-color: #ffffff;
  cursor:pointer;
}
