.page-menu {
  position: relative;
  padding-left: 25px;
  padding-top: 24px;
  padding-bottom: 12px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;

  background-color: #161c35;
}

.page-menu__title {
  position: relative;
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;

  color: #ffffff;
}

.page-menu__title::after {
  content: "";

  position: absolute;
  top: 50px;
  left: 0;
  width: 173px;
  height: 5px;
  border-radius: 2.4px;

  background-color: #ff8d30 ;
}

.page-menu__link {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-menu {
    display: flex;
    justify-content: space-between;
    padding-left: 77px;
    padding-right: 75px;
    padding-top: 93px;
    padding-bottom: 65px;
    align-items: center;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  .page-menu__title {
    font-size: 60px;
    line-height: 70px;
  }

  .page-menu__title::after {
    top: 130px;
    width: 287px;
    height: 8px;
    border-radius: 4px;
  }

  .page-menu__link {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding-right: 61px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-decoration: none;
    text-transform: uppercase;

    color: #ffffff;
  }

  .page-menu__link::before {
    content: "";

    position: absolute;

    top: 6px;
    right: 0;
    width: 32px;
    height: 16px;

    background-image: url("../img/return.svg");
    background-repeat: no-repeat;
  }
}
