.round-diagram {
  position: relative;
}

.round-diagram svg {
  width: 60px;
  height: 60px;
}

.round-diagram__progress-pie {
  position: absolute;

  top: 16px;
  left: 17px;

  transform: rotate(-90deg);
  z-index: 4;

  stroke: #ff8d30;
  fill: #000000;
  fill-opacity: 0.7;
}

.round-diagram__level {
  position: absolute;

  top: 30px;
  left: 34px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  z-index: 5;

  color: #ffffff;
}

.round-diagram__text {
  position: absolute;

  top: 56px;
  left: 35px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  opacity: 0.9;
  z-index: 5;

  color: #ffffff;
}

.round-diagram::before {
  content: "";
  position: absolute;

  top: 52px;
  left: 32px;
  width: 29px;
  height: 1px;
  opacity: 0.3;
  z-index: 5;

  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .round-diagram__progress-pie {
    bottom: -4px;
    right: 39px;
  }

  .round-diagram__level {
    top: 33px;
    left: 36px;
  }

  .round-diagram__text {
    top: 60px;
    left: 37px;
  }

  .round-diagram::before {
    top: 56px;
    left: 35px;
  }
}

@media (min-width: $desktop-width) {
  .round-diagram__progress-pie {
    bottom: -8px;
    right: 37px;
  }

  .round-diagram__level {
    top: 36px;
    left: 39px;
  }

  .round-diagram__text {
    top: 61px;
    left: 39px;
  }

  .round-diagram::before {
    top: 59px;
    left: 37px;
  }
}
