.site-list {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  list-style: none;
}

.site-list__item a {
  text-decoration: none;
  color: #192144;
}

@media (min-width: $tablet-width) {
  .site-list {
    font-size: 60px;
    line-height: 71px;
    font-weight: 500;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 656px;
    font-size: 20px;
    line-height: 30px;
  }

  .site-list__item {
    margin-right: 34px;
    margin-bottom: 5px;
  }

  .site-list__item:nth-child(1) {
    padding: 0;
  }

  .site-list__item:nth-child(3) {
    padding: 0;
  }

  .site-list__item:nth-last-child(-n + 1) {
    margin-right: 0;
  }

  .site-list__item a {
    color: #ffffff;
  }

  .site-list__item:active {
    color: transparentize($color: #ffffff, $amount: 0.5);
  }
}
