.user-list {
  width: 270px;
  font-weight: bold;
  text-transform: uppercase;
}

.user-list__item {
  font-size: 17px;
  line-height: 30px;

  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  border-radius: 20px;
  color: #161c35;
  background-color: #ffd74b;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: none;
  }

  .user-list__item {
    font-size: 20px;
  }
}
