.companion {
  background-color: #192144;
}

.companion__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;

  color: #ffffff;
}

.companion__text--bold {
  font-weight: 700;
}

.companion__list {
  list-style: none;
}
