.information {
  background-color: #192144;
  background-image:url('../img/about-mobile@1x.png');
  background-repeat: no-repeat;
}

.information__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;

  color:#ffffff;
}

.information__text--bold {
  font-weight: 700;
}
