.main-nav {
  background-color: #161c36;
  text-transform: uppercase;
}

.main-nav__toggle {

}

.main-nav__wrapper {
  background-color: #ffffff ;
}

.main-nav__list {
  text-align: center;
  list-style: none;
}

.main-nav__contact {
  color:#192144;
  list-style: none;
}

.main-nav__social {
  list-style: none;
}
