.menu {
  background-color: #161c36;
  background-image: url("../img/globe-back-mobile@1x.jpg"),
    url("../img/traveller-illustration-mobile@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 320px 569px;
}

.menu__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;

  color: #ffffff;
}

.menu__communication {
  margin: 0;
  list-style: none;
}

.menu__user-list {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .menu__user-list {
    display: none;
  }
}
