.menu {
  background-color:#161c36;
  background-image: url('../img/globe-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: 320px 569px;
}

.menu__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;

  color:#ffffff;
}

.menu__wrapper {
}

.menu__communication {
  list-style: none;
}
