.user-list__item {
  font-weight: 700;
  width: 270px;

  text-align: center;
  padding-top: 15px;
  padding-bottom: 13px;
  border-radius: 20px;
  color: #161c35;
  background-color: #ffd74b;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: none;
  }
}
